In [3]:
!pip install catboost
import warnings
import numpy as np
import pandas as pd
from catboost import CatBoostClassifier, CatBoostRegressor
from sklearn.ensemble import BaggingClassifier, GradientBoostingClassifier, StackingClassifier, BaggingRegressor, \
    GradientBoostingRegressor, StackingRegressor
from sklearn.metrics import confusion_matrix, classification_report, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
warnings.filterwarnings('ignore')

Collecting catboost
  Downloading catboost-1.0.5-cp38-none-win_amd64.whl (73.9 MB)
Requirement already satisfied: pandas>=0.24.0 in c:\users\kgubk\anaconda3\lib\site-packages (from catboost) (1.2.4)
Collecting plotly
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
Requirement already satisfied: six in c:\users\kgubk\anaconda3\lib\site-packages (from catboost) (1.15.0)
Collecting graphviz
  Downloading graphviz-0.20-py3-none-any.whl (46 kB)
Requirement already satisfied: matplotlib in c:\users\kgubk\anaconda3\lib\site-packages (from catboost) (3.3.4)
Requirement already satisfied: scipy in c:\users\kgubk\anaconda3\lib\site-packages (from catboost) (1.6.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\kgubk\anaconda3\lib\site-packages (from catboost) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\kgubk\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kgubk\anaconda3\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kgubk\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kgubk\anaconda3\lib\site-packages (from matplotlib->catboost) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\kgubk\anaconda3\lib\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\kgubk\anaconda3\lib\site-packages (from matplotlib->catboost) (0.10.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, graphviz, catboost
Successfully installed catboost-1.0.5 graphviz-0.20 plotly-5.7.0 tenacity-8.0.1

# Классификация

In [22]:
credit_df = pd.read_csv('../data/Credit_risk_preprocessed.csv')
student = pd.read_csv('../data/student_math_preprocessed.csv')
credit_df.head(10)
student.head(10)

,age,medu,fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,...,fjob_services,fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,useAlc
0,18,4,4,2,2,0,1,0,0,0,...,0,1,1,0,0,0,0,1,0,2
1,17,1,1,1,2,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,2
2,15,1,1,1,2,3,1,0,1,0,...,0,0,0,0,1,0,0,1,0,5
3,15,4,2,1,3,0,0,1,1,1,...,1,0,0,1,0,0,0,1,0,2
4,16,3,3,1,2,0,0,1,1,0,...,0,0,0,1,0,0,1,0,0,3
5,16,4,3,1,2,0,0,1,1,1,...,0,0,0,0,0,1,0,1,0,3
6,16,2,2,1,2,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,2
7,17,4,4,2,2,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,2
8,15,3,2,1,2,0,0,1,1,0,...,0,0,0,1,0,0,0,1,0,2
9,15,3,4,1,2,0,0,1,1,1,...,0,0,0,1,0,0,0,1,0,2

In [23]:
credit_df.head(10)

   clientid  income  age  loan  default
0         1   66155   87  8106        0
1         2   34415   76  6564        0
2         3   57317   91  8020        0
3         4   42709   73  6103        0
4         5   66952   46  8770        1
5         6   24904   85    15        0
6         7   48430   54  5722        0
7         8   24500   60  2971        1
8         9   40654   83  4755        0
9        10   25075   67  1409        0

# Тестовая и тренировочная для классификации

In [ ]:
credit_df["default"].unique()
x = credit_df.iloc[:,:-1].values
y = credit_df.iloc[:,4].values
from sklearn.model_selection import train_test_split
x_train_cls, x_test_cls, y_train_cls, y_test_cls = train_test_split(x, y, test_size = 0.3, shuffle=False)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train_cls)
x_train_cls = scaler.transform(x_train_cls)
x_test_cls = scaler.transform(x_test_cls)

# Тестовая и тренировочная для регрессии